# ignore work directories with nested repositories

# exclude .env and everything 
# except explicitly include files
# and .env

/*
.env

# don't ignor the following files
# and directories
!.dockerignore
!compose.yml
!setup.sh
!Makefile


