services:

  wordpress:
    image: wordpress:latest
    restart: always
    depends_on:
      - db
    ports:
      - ${WORDPRESS_PORT}:80
      - "8443:443"
    volumes:
      - ./wordpress:/var/www/html
      - ./enable-ssl.sh:/usr/local/bin/enable-ssl.sh
      - ./certs:/etc/apache2/ssl:ro
      - ./apache-conf/ssl.conf:/etc/apache2/sites-available/ssl.conf:ro
      # # - wp_content:/var/www/html/wp-content
    
    environment:
      WORDPRESS_DB_HOST: ${WORDPRESS_DB_HOST}
      WORDPRESS_DB_USER: ${WORDPRESS_DB_USER}
      WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD}
      WORDPRESS_DB_NAME: ${WORDPRESS_DB_NAME}
      WORDPRESS_TABLE_PREFIX: ${WORDPRESS_TABLE_PREFIX}
      WORDPRESS_DEBUG: ${WORDPRESS_DEBUG}
    command: bash -c "/usr/local/bin/enable-ssl.sh && apache2-foreground"
    


  db:
    image: mariadb:lts
    restart: always
    environment:
      MYSQL_DATABASE: ${WORDPRESS_DB_NAME}
      MYSQL_USER: ${WORDPRESS_DB_USER}
      MYSQL_PASSWORD: ${WORDPRESS_DB_PASSWORD}
      MYSQL_RANDOM_ROOT_PASSWORD: '1'
    volumes:
      - db:/var/lib/mysql

  # wpcli:
  #     image: wordpress:cli
  #     depends_on:
  #       - db
  #     volumes:
  #       - wordpress:/var/www/html
  #       - wp_content:/var/www/html/wp-content

  #     environment:
  #       WORDPRESS_DB_HOST: ${WORDPRESS_DB_HOST}
  #       WORDPRESS_DB_USER: ${WORDPRESS_DB_USER}
  #       WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD}
  #       WORDPRESS_DB_NAME: ${WORDPRESS_DB_NAME}
  #       WORDPRESS_TABLE_PREFIX: ${WORDPRESS_TABLE_PREFIX}
  #       WORDPRESS_DEBUG: ${WORDPRESS_DEBUG}
  #     entrypoint: wp
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin-${COMPOSE_PROJECT_NAME}
    depends_on:
      - db
    ports:
      - "${PMA_PORT}:80"
      
    environment:
      PMA_HOST: db
      PMA_PORT: ${DB_PORT}
      PMA_ARBITRARY: 1
      PMA_USER: ${WORDPRESS_DB_USER}
      PMA_PASSWORD: ${WORDPRESS_DB_PASSWORD}
    

volumes:
  # wordpress:
  # wp_content:
  db:
